<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/styles.css" />
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
  <title>NASA Images Browser</title>
</head>

<body>
  <div class="center" id=page-wrap>
    <div id=center-logo><img id="img-center" src="logo.PNG"></div>
    <h1 id=center>Images Browser</h1>
    <div id="app">
      <div v-if="loading">
        <p>Loading...</p>
      </div>
      <div v-else>
        <div>
          <p><strong>Search images using the search bar below</strong></p>
<!--
          <form id=center>
            <select id="input">
              <option>Make a selection</option>
              <option>Apollo</option>
              <option>Astronauts</option>
              <option>Black Hole</option>
              <option>Earth</option>
              <option>Jupiter</option>
              <option>Mars</option>
              <option>Moon</option>
              <option>Milky Way</option>
              <option>NASA</option>
              <option>Neptune</option>
              <option>Nebula</option>
              <option>Saturn</option>
              <option>Space</option>
              <option>Stars</option>
              <option>Sun</option>
              <option>Space Shuttle</option>
            </select>
            <input type="button" v-on:click="getPhoto()" value="Search Images">
            <input type="button" v-on:click="next()" value="Next Image">
          </form>
-->
<!---->
          <form id=center>
            <input id="input" type="text" placeholder="Search">
            <input type="button" v-on:click="getPhoto()" value="Search Images">
            <input type="button" v-on:click="next()" value="Next Image">
          </form>
<!---->
          <div v-if="not_found"></div>
          <div v-else>
            <p><strong>Enter a number between 1 and {{current.collection.items.length}} to search the images for {{search}} (Optional)</strong></p>
            <form>
              <input id="numSearch" type="text" placeholder="Enter Image Number">
              <input type="button" v-on:click="searchNum()" value="find">
            </form>
          </div>
        </div>
        <div v-if="not_found"></div>
        <div v-else>
          <p id=center><strong>Viewing images {{index + 1}} - {{endIndex}} in {{search}} collection</strong></p>
        </div>
        <div id=center><img v-bind:src="images[0].img" v-bind:alt="current.alt"></div>
        <p id=center><i>{{images[0].des}}</i></p>
        <div id=center><img v-bind:src="images[1].img" v-bind:alt="current.alt"></div>
        <p id=center><i>{{images[1].des}}</i></p>
        <div id=center><img v-bind:src="images[2].img" v-bind:alt="current.alt"></div>
        <p id=center><i>{{images[2].des}}</i></p>
        <div id=center><img v-bind:src="images[3].img" v-bind:alt="current.alt"></div>
        <p id=center><i>{{images[3].des}}</i></p>
        <div id=center><img v-bind:src="images[4].img" v-bind:alt="current.alt"></div>
        <p id=center><i>{{images[4].des}}</i></p>
        <!--<h3>Add a Comment</h3>
        <form v-on:submit.prevent="addComment">
          <input v-model="addedName" placeholder="Name"></p>
          <textarea v-model="addedComment" placeholder="Comment"></textarea>
          <br />
          <button type="submit">Comment</button>
        </form>
        <h3>Comments</h3>
        <div v-for="comment in comments[number]">
          <hr>
          <p>{{comment.text}}</p>
          <p><i>-- {{comment.author}} on {{comment.time}}</i></p>
        </div>-->
      </div>
    </div>
  </div>
  <script src="https://unpkg.com/vue-star-rating/dist/star-rating.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js" type="text/javascript"></script>
  <script src="/script.js"></script>
  <a href="https://github.com/hjordan6/nasa">github</a href>
</body>

</html>
